.ZidexContent{
    position:absolute;
    bottom: 30%;
}
.ZidexContent button{
   position: absolute;
    z-index: 2;
    left: 60%;
}
@media only screen and (max-width: 600px) {
    .ZidexContent button{
        position: absolute;
         z-index: 2;
         left: 25%;
         margin-top: 20px;
     }
  }
  .navvvar .downNav{
    position: absolute;
  }
  /* html{
      scroll-behavior:smooth;
  } */